[user]
	name = Gary Sassano
	email = gary.sassano@educationperfect.com
[commit]
	gpgsign = false
[credential "https://github.com"]
	helper = /mnt/c/Program\\ Files\\ \\(x86\\)/Git\\ Credential\\ Manager/git-credential-manager.exe
	username = epgary