[user]
	name = Gary Sassano
	email = 10464497+garysassano@users.noreply.github.com
	signingkey = F8FE82821AD22F8F
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[credential "https://github.com"]
	username = garysassano
[credential "https://dev.azure.com"]
	useHttpPath = true
[includeIf "gitdir:~/work-idv/"]
	path = ~/work-idv/.gitconfig
[alias]
	merged = !git branch -r --merged | grep -v HEAD | xargs -L1 git --no-pager log --pretty=tformat:'%Cgreen%d%Creset - %h by %an (%Cblue%ar%Creset)' -1
	unmerged = !git branch -r --no-merged | grep -v HEAD | xargs -L1 git --no-pager log --pretty=tformat:'%Cgreen%d%Creset - %h by %an (%Cblue%ar%Creset)' -1
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	bdate = branch --sort=-committerdate
	cob = checkout -b
	co = checkout
	st = status
	cm = commit -m
	pf = push -f
	logg = log --pretty=fuller
	adate = log -1 --format=%aD
	update = "!f() { GIT_COMMITTER_DATE=\"$(git adate)\" git commit --amend --no-edit --date=\"$(git adate)\"; }; f"
	setdate = "!f() { GIT_COMMITTER_DATE=\"$1\" git commit --amend --no-edit --date=\"$1\"; }; f"
	first = "!f() { git reset --soft $(git rev-list --max-parents=0 HEAD); }; f"
	revto = "!f() { git revert --no-commit $1..HEAD && git commit -m \"Revert to $1\"; }; f"