[Unit]
Description=wsl-vpnkit
After=network.target

[Service]
# Run as one of last services to start up
Type=idle

# for wsl-vpnkit setup as a standalone script
ExecStart=/home/user/.wsl-vpnkit/wsl-vpnkit
Environment=VMEXEC_PATH=/home/user/.wsl-vpnkit/wsl-vm GVPROXY_PATH=/home/user/.wsl-vpnkit/wsl-gvproxy.exe

Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
